<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>
        {{title}}
    </title>
</head>

<body>
    <div class="main-body">
        {{>header}}
        <p class="element-padding">Created by : {{name}} </p>
        <p class="element-padding">At : {{time}} </p>

    </div>
    {{>footer}}
</body>

</html>